Hana Media Encoder/bin
Hana Media Encoder/obj
Hana Media Encoder/.vs/Hana Media Encoder/DesignTimeBuild/*.*
Hana Media Encoder/.vs/Hana Media Encoder/FileContentIndex/*.*
Hana Media Encoder/.vs/Hana Media Encoder/v17/*.*
Hana Media Encoder/.vs/ProjectEvaluation/*.*
Hana Media Encoder/bin/Release
HME-Setup/*.*
HME-Setup/Debug
HME-Setup/Release